.OnScreenCartContainer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100vw;
    overflow-x: scroll;
    position: sticky;
    bottom: 0px;
    background: #49be25;
    border: transparent;
}

.orderHistoryContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3%;
    padding: 20px;
}

.checkoutBillItem {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 10px;
    text-align: center;
}